* {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

body {
  height: 100vh;
  margin: 0 auto;
  max-width: 580px;
  font-family: "Poppins", sans-serif;
}

/* Navbar */

.navbar-items {
  width: 100%;
  padding: 1em 1.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}

#profile,
#chat,
#logo {
  align-self: center;
  width: 30px;
  height: 30px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

/* Main */

main {
  max-width: 100%;
  border-radius: 1em;
}

.cat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-img {
  width: 400px;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
}

.cat-description {
  margin-top: -80px;
  padding: 0 7em;
  color: #fff;
  font-weight: 400;
  height: 60px;
}

/* Buttons */

.buttons {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#like,
#swipe {
  border: none;
  border-radius: 50%;
  padding: 1em;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.end {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
